nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 40px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.logo h2{
    color: #2ecc71;
    font-size: 28px;
    cursor: pointer;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a{
    text-decoration: none;
    color:#333;
    font-size: 18px;
    font-weight: 500;
}

.nav-links a:hover {
    color: #2ecc71;
    opacity: 0.8;
}
.active{
    color: yellow;
    font-weight: bold;
}
.nav-actions{
    display:flex;
    gap:15px;
}
.nav-actions button{
    padding:10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav-actions button:hover{
    background-color: #2ecc71;
    color: white;
}
.menu-icon{
    display:none;
}
@media (max-width:768px){
    nav{
        padding:20px;
        flex-direction: column;
        gap:20px;
    }
    .menu-icon{
        display:block;
    }
    .nav-links{
        display: none;
    }
    .nav-links.open{
        display:flex;
        flex-direction: column;
    }
    .nav-actions{
        display: none;
    }
}